<nav class="blue darken-3">
    <div class="nav-wrapper container-fluid">
        <a href="/" class="brand-logo" style="padding-left:15px;">
            <i class="material-icons">store</i> Harhurum POS
        </a>
        {% if request.user.is_authenticated %}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">{{ request.user.get_full_name|default:request.user.username }}</a></li>
            <li><a href="{% url 'accounts:logout' %}"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
        {% endif %}
    </div>
</nav>
